<div class="container">
	<h1>Edit/Change Password</h1>
	<hr>
	<form method="post" action="/edit>
	
		<label for="name">Email</label>
		<input type="text" id ="email" name="email"> <br/><br/>
	
		<label for="name">Old Password</label>
		<input type="password" id ="oldpassword" name="oldpassword"> <br/><br/>
		
		<label for="name">New password</label>
		<input type="password" id ="newPassword" name="newPassword"> <br/><br/>
		
		<label for="name">Confirm new password</label>
		<input type="password" id ="confirmPassword" name="confirmPassword"> <br/><br/>
		
		<form method = "post" action = "/edit_profile">
		<button type = "submit"> Submit change </button>
		</form>
	</form>
</div>