
<html>
	<head>
		<title>Google Auth Demo</title>
		<meta name= "google-signin-client_id" content="870884524370-4degio3n3qeqdn5um4orrt56o6mvd843.apps.googleusercontent.com">
		<script src = "https://apis.google.com/js/platform.js" async defer></script>
	</head>
	
	<body>
		<h1>Demo Google</h1>
		<form method = "post" action = "/logout">
		<button type = "submit"> Logout </button>
		</form>
		<div class="g-signin2" data-onsuccess="onSignIn"></div>
		<button type = "submit" onclick="signOut()"></button
	</body>
	
	
</html>